<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">
    <display-name>Archetype Created Web Application</display-name>

    <listener>
        <listener-class>hsenid.MyListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>hsenid.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>hi</servlet-name>
        <servlet-class>hsenid.GetTranslate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hi</servlet-name>
        <url-pattern>/GetTranslate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>hsenid.LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>hsenid.UserFiles.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchUser</servlet-name>
        <servlet-class>hsenid.UserFiles.SearchUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchUser</servlet-name>
        <url-pattern>/SearchUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>hsenid.UserFiles.Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllData</servlet-name>
        <servlet-class>hsenid.UserFiles.AllData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllData</servlet-name>
        <url-pattern>/AllData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UChecker</servlet-name>
        <servlet-class>hsenid.UserFiles.UsernameChecker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UChecker</servlet-name>
        <url-pattern>/UChecker</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CitySender</servlet-name>
        <servlet-class>hsenid.UserFiles.CitySender</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CitySender</servlet-name>
        <url-pattern>/CitySender</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendUserRole</servlet-name>
        <servlet-class>hsenid.UserFiles.SendUserRole</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendUserRole</servlet-name>
        <url-pattern>/SendUserRole</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>hsenid.UserFiles.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>hsenid.UserFiles.UpdateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>FirstDataLoad</servlet-name>
        <servlet-class>hsenid.UserFiles.DataLoads.FirstDataLoad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstDataLoad</servlet-name>
        <url-pattern>/FirstDataLoad</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>NumberOfPages</servlet-name>
        <servlet-class>hsenid.UserFiles.DataLoads.NumberOfPages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NumberOfPages</servlet-name>
        <url-pattern>/NumberOfPages</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>WhenPageChange</servlet-name>
        <servlet-class>hsenid.UserFiles.DataLoads.WhenPageChange</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WhenPageChange</servlet-name>
        <url-pattern>/WhenPageChange</url-pattern>
    </servlet-mapping>
    

</web-app>
