@CHARSET "UTF-8";

.test {
    margin-bottom: 10%;
    margin-top: 20%;
    margin-left: 30%;
}

.inlinebutt {
    display: block;
    display: inline-block;
}

#logout {
    margin-left: 92%;
}

#swap {
    margin-left: 50%;
    margin-top: 10px;
}

#submit {
    margin-bottom: 1%;
}

.chgclr {
    color: white;
}

#tbtn {
    margin-left: 41%;
}

#swap {
    margin-left: 47%;
}